[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=sh /home/stuart-warren/.doom.d/exwm/start-exwm.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm
